@import "../variables.scss";

$padding-side: 10px;

.uk-container {
    padding-left: 240 + $padding-side;
    padding-right: $padding-side;
}

@media only screen and (max-width: 960px) {
    .uk-container {
        padding-left: $padding-side;
    }
}
