<div class="uk-offcanvas-content">
    <navbar></navbar>
    <chart></chart>
    <div class="tm-main uk-section uk-section-default">
        <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
            <div>
                <div class="uk-card-small uk-card-primary uk-card-body">
                    <div uk-grid>
                        <div class="uk-width-1-4@m"><span uk-icon="icon: check; ratio: 3"></span></div>
                        <div class="uk-width-expand@m">
                            <h5>Omzet</h5>
                            <h2>253</h2>
                        </div>
                    </div>   
                </div>
            </div>
            <div>
                <div class="uk-card-small uk-card-secondary uk-card-body">
                    <div uk-grid>
                        <div class="uk-width-1-4@m"><span uk-icon="icon: check; ratio: 3"></span></div>
                        <div class="uk-width-expand@m">
                            <h5>Omzet</h5>
                            <h2>253</h2>
                        </div>
                    </div>  
                </div>
            </div>
            <div>
                <div class="uk-card-small uk-card-tertiary uk-card-body">
                    <div uk-grid>
                        <div class="uk-width-1-4@m"><span uk-icon="icon: check; ratio: 3"></span></div>
                        <div class="uk-width-expand@m">
                            <h5>Omzet</h5>
                            <h2>253</h2>
                        </div>
                    </div>   
                </div>
            </div>
            <div>
                <div class="uk-card-small uk-card-quaternary uk-card-body">
                    <div uk-grid>
                        <div class="uk-width-1-4@m"><span uk-icon="icon: check; ratio: 3"></span></div>
                        <div class="uk-width-expand@m">
                            <h5>Omzet</h5>
                            <h2>253</h2>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="uk-text-center uk-grid-collapse" uk-grid>
            <div class="uk-width-2-3">
                <div class="uk-card uk-card-default uk-card-body">
		    
                    <canvas id="myChart" width="400" height="200"></canvas>
                    <script>
                     var ctx = document.getElementById("myChart").getContext('2d');
                     var myChart = new Chart(ctx, {
                         type: 'bar',
                         data: {
                             labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                             datasets: [{
                                 label: '# of Votes',
                                 data: [12, 19, 3, 5, 2, 3],
                                 backgroundColor: [
                                     'rgba(255, 99, 132, 0.2)',
                                     'rgba(54, 162, 235, 0.2)',
                                     'rgba(255, 206, 86, 0.2)',
                                     'rgba(75, 192, 192, 0.2)',
                                     'rgba(153, 102, 255, 0.2)',
                                     'rgba(255, 159, 64, 0.2)'
                                 ],
                                 borderColor: [
                                     'rgba(255,99,132,1)',
                                     'rgba(54, 162, 235, 1)',
                                     'rgba(255, 206, 86, 1)',
                                     'rgba(75, 192, 192, 1)',
                                     'rgba(153, 102, 255, 1)',
                                     'rgba(255, 159, 64, 1)'
                                 ],
                                 borderWidth: 1
                             }]
                         },
                         options: {
                             scales: {
                                 yAxes: [{
                                     ticks: {
                                         beginAtZero:true
                                     }
                                 }]
                             }
                         }
                     });
                    </script>
                </div>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-card-primary uk-card-body">1-3</div>
            </div>
        </div>
</div>

