/** theme.css **/
$nav-top: 0px;
$nav-width: 240px;


.dashboard-title {
    position: fixed;
    top: $nav-top;
    left: 0;
    box-sizing: border-box;
    background: #323d48;
    color: #fff;
    width: $nav-width;
    padding: 40px 40px 60px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}

.sidebar-left {
    position: fixed;
    top: $nav-top + 75px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background: #384250;
    width: $nav-width;
    padding: 40px 40px 60px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;

    h3 {
        color: #fff;
    }
}

.websocket-monitor {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.uk-nav-default h6 {
    text-transform: uppercase;
    color: #adb5bd;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 11px;
    margin-top: 30px;
}

.uk-nav-default>li {
    color: #a5a5a5;
}

.uk-nav-default {
    .uk-h3 .uk-nav-sub a:focus .uk-nav-default .uk-nav-sub a:hover {
        color: #fff;
    }

    .uk-nav-divider {
        border-top: 1px solid #e5e5e5 24;
    }    
}

.uk-nav-default>li>a:focus,
.uk-nav-default>li>a:hover,
.uk-search-input,
.uk-nav-default>li.uk-active>a
{
    color: #fff;
}
.uk-section-default {
    background: #f2f2f4;
}

.uk-grid+.uk-grid-collapse, .uk-grid-collapse>.uk-grid-margin {
    margin-top: 20px;
}
