<nav class="uk-navbar">
    <div class="dashboard-title"><h3 class="dashboard-title">Demo</h3></div>
    <div class="sidebar-left uk-visible@m">
        <div class="uk-margin">
            <div class="uk-search uk-search-default">
                <span uk-search-icon="" class="uk-search-icon uk-icon"></span>
                <input class="uk-search-input" type="search" placeholder="Zoeken...">
            </div>
        </div>
        <div class="uk-width-1-1@s uk-width-1-1@m">
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <h6>Navigatie</h6>
                <li class="uk-active"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: home; ratio: 0.9"></span>Dashboard</a></li>
                <li class="uk-parent">
                    <a href="#"><span class="uk-margin-small-right" uk-icon="icon: list"></span>Lijsten</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Leads</a></li>
                        <li><a href="#">Omzetoverzicht</a></li>
                        <li><a href="#">FTE-overzicht</a></li>
                        <li><a href="#">Financieringoverzicht</a></li>
                        <li><a href="#">Innovatieoverzicht</a></li>
                    </ul>
                </li>
                <li class="uk-parent">
                    <a href="#"><span class="uk-margin-small-right" uk-icon="icon: album"></span>Dossiers</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Dossieroverzicht</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: folder"></span>Documenten</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span>Prullenbak</a></li>
                <li class="uk-nav-divider"></li>
            </ul>
            
            <div class="websocket-monitor">
                <ul class="uk-nav-default" uk-nav>
                    <li><websocket-status></websocket-status></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
