<table class="uk-table uk-table-striped uk-table-hover">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataSets[0].data" (click)="onClick(item)">
            <td>{{item.Title}}</td>
            <td>{{item.Integer}}</td>
        </tr>
        <tr *ngFor="let item of dataSets[1].data">
            <td>{{item.Title}}</td>
            <td>{{item.Site_x0020_URL}}</td>
        </tr>
    </tbody>
</table>
