@import "../../variables.scss";

$label-side-padding: 14px;
$icon-size: 20px;

label {
    padding: 3px;
    padding-left: $label-side-padding;
    padding-right: $label-side-padding;
    width: 100%;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
    color: $nav-text-color;
    .selected {
        background-color: aqua;
    }
}

.placeholder {
    display: inline-block;
    width: $icon-size;
}

.header {
    background-color: $panel-header-color;
}

li {
    line-height: $icon-size + 5px;
}
